{% extends 'vsd/base.html' %}
{% load static %}

{% block styles %}
<!-- Bootstrap -->
<!-- Datepicker -->
{% endblock %}
{% block content %}
<div class="container">
    {% if error %}
    <div class="bg-danger p-3 mb-2 rounded shadow">{{error}}</div>
    {% endif %}
    <div class="form-container">
        <form class="row " method="POST" action="/history/" id="queryForm">
            {% csrf_token %}
            <div class="col-6 px-2">
                <div class="from-floating">
                    <label for="from_date">From</label>
                    <div class="d-flex">
                        <input required type="text" placeholder="Pick a date" name="from_date" id="from_date"
                            value="{{from_date}}" class="form-control date-input datepicker_input">
                        <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">

                            <g id="SVGRepo_bgCarrier" stroke-width="0" />

                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M7 11C7 10.4477 7.44772 10 8 10C8.55228 10 9 10.4477 9 11C9 11.5523 8.55228 12 8 12C7.44772 12 7 11.5523 7 11Z"
                                    fill="#000000" />
                                <path
                                    d="M7 16C7 15.4477 7.44772 15 8 15C8.55228 15 9 15.4477 9 16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16Z"
                                    fill="#000000" />
                                <path
                                    d="M11 11C11 10.4477 11.4477 10 12 10C12.5523 10 13 10.4477 13 11C13 11.5523 12.5523 12 12 12C11.4477 12 11 11.5523 11 11Z"
                                    fill="#000000" />
                                <path
                                    d="M11 16C11 15.4477 11.4477 15 12 15C12.5523 15 13 15.4477 13 16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16Z"
                                    fill="#000000" />
                                <path
                                    d="M15 11C15 10.4477 15.4477 10 16 10C16.5523 10 17 10.4477 17 11C17 11.5523 16.5523 12 16 12C15.4477 12 15 11.5523 15 11Z"
                                    fill="#000000" />
                                <path
                                    d="M15 16C15 15.4477 15.4477 15 16 15C16.5523 15 17 15.4477 17 16C17 16.5523 16.5523 17 16 17C15.4477 17 15 16.5523 15 16Z"
                                    fill="#000000" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8 2C8.55228 2 9 2.44772 9 3V4H15V3C15 2.44772 15.4477 2 16 2C16.5523 2 17 2.44772 17 3V4C19.7614 4 22 6.23858 22 9V17C22 19.7614 19.7614 22 17 22H7C4.23858 22 2 19.7614 2 17V9C2 6.23858 4.23858 4 7 4V3C7 2.44772 7.44772 2 8 2ZM7 6C5.34315 6 4 7.34315 4 9V17C4 18.6569 5.34315 20 7 20H17C18.6569 20 20 18.6569 20 17V9C20 7.34315 18.6569 6 17 6C17 6.55229 16.5523 7 16 7C15.4477 7 15 6.55229 15 6H9C9 6.55229 8.55228 7 8 7C7.44772 7 7 6.55229 7 6Z"
                                    fill="#000000" />
                            </g>

                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-6 px-2">
                <div class="from-floating">
                    <label for="from_date">To</label>
                    <div class="d-flex">
                        <input required type="text" placeholder="Pick a date" name="to_date" id="to_date"
                            value="{{to_date}}" class="form-control date-input datepicker_input">
                        <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">

                            <g id="SVGRepo_bgCarrier" stroke-width="0" />

                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M7 11C7 10.4477 7.44772 10 8 10C8.55228 10 9 10.4477 9 11C9 11.5523 8.55228 12 8 12C7.44772 12 7 11.5523 7 11Z"
                                    fill="#000000" />
                                <path
                                    d="M7 16C7 15.4477 7.44772 15 8 15C8.55228 15 9 15.4477 9 16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16Z"
                                    fill="#000000" />
                                <path
                                    d="M11 11C11 10.4477 11.4477 10 12 10C12.5523 10 13 10.4477 13 11C13 11.5523 12.5523 12 12 12C11.4477 12 11 11.5523 11 11Z"
                                    fill="#000000" />
                                <path
                                    d="M11 16C11 15.4477 11.4477 15 12 15C12.5523 15 13 15.4477 13 16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16Z"
                                    fill="#000000" />
                                <path
                                    d="M15 11C15 10.4477 15.4477 10 16 10C16.5523 10 17 10.4477 17 11C17 11.5523 16.5523 12 16 12C15.4477 12 15 11.5523 15 11Z"
                                    fill="#000000" />
                                <path
                                    d="M15 16C15 15.4477 15.4477 15 16 15C16.5523 15 17 15.4477 17 16C17 16.5523 16.5523 17 16 17C15.4477 17 15 16.5523 15 16Z"
                                    fill="#000000" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8 2C8.55228 2 9 2.44772 9 3V4H15V3C15 2.44772 15.4477 2 16 2C16.5523 2 17 2.44772 17 3V4C19.7614 4 22 6.23858 22 9V17C22 19.7614 19.7614 22 17 22H7C4.23858 22 2 19.7614 2 17V9C2 6.23858 4.23858 4 7 4V3C7 2.44772 7.44772 2 8 2ZM7 6C5.34315 6 4 7.34315 4 9V17C4 18.6569 5.34315 20 7 20H17C18.6569 20 20 18.6569 20 17V9C20 7.34315 18.6569 6 17 6C17 6.55229 16.5523 7 16 7C15.4477 7 15 6.55229 15 6H9C9 6.55229 8.55228 7 8 7C7.44772 7 7 6.55229 7 6Z"
                                    fill="#000000" />
                            </g>

                        </svg>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-outline-secondary mt-5 ms-auto query-btn" value="Query" />
        </form>
    </div>
    {% if cars %}
    <div style="max-height: 700px; overflow-y: scroll;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Car ID</th>
                    <th scope="col" class="text-center">Speed</th>
                    <th scope="col" class="text-center">Overspeed</th>
                    <th scope="col" class="text-center">Image</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                <tr scope="row" style="max-height: 200px; height:200px">
                    <td class="text-center">{{ car.car_id }}</td>
                    <td class="text-center">{{ car.speed }}</td>
                    <td class="text-center">
                        {% if car.overspeeding %}
                        <i class="fa-solid fa-check text-danger"></i>
                        {% endif %}
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        {% if car.link %}
                            <img style="height: 100%" src="http://127.0.0.1:8000/{{car.link}}" alt="car image" />
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<script>
    const getDatePickerTitle = elem => {
        // From the label or the aria-label
        const label = elem.nextElementSibling;
        let titleText = '';
        if (label && label.tagName === 'LABEL') {
            titleText = label.textContent;
        } else {
            titleText = elem.getAttribute('aria-label') || '';
        }
        return titleText;
    }

    const elems = document.querySelectorAll('.datepicker_input');
    console.log(elems)
    for (const elem of elems) {
        const datepicker = new Datepicker(elem, {
            'format': 'dd/mm/yyyy', // UK format
            title: getDatePickerTitle(elem)
        });
    }
</script>
{% endblock %}